<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<turbo-frame id="modal-footer">
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" form="note-form" class="btn btn-primary">Create note</button>

  </div>
</turbo-frame>
