<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<turbo-frame id="modal-header">
  <div class="modal-header">
    <h5 class="modal-title d-flex justify-content-start column-gap-3 align-items-center">
      <span>
        <% unless @editing %>
          New note
        <% else %>
          Editing note
        <% end %>
      </span>

      <% unless @editing %>
        <%= render "note_type_dropdown" %>
      <% end %>
    </h5>

    <button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close">
    </button>
  </div>
</turbo-frame>
