<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<turbo-frame id="modal-body">
  <div class="modal-body pt-0">
    <%= render "form" %>
  </div>
</turbo-frame>
