<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="reorderable-note-unit">
  <div data-controller="notes-reordering--note-dropzone">
    <div data-notes-reordering--note-dropzone-target="dropzone" class="note-droppable-area">
      <div data-controller="notes-reordering--draggable-note">
        <div id="<%= @basic_note.turbo_dom_id %>">
          <div draggable="true" data-notes-reordering--draggable-note-target="note">
            <div class="py-3">
              <%= render partial: "articles/basic_note/flippable_basic_note" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
