<div id="article-notes" class="sm:scrollable-notes">

  <% if logged_in? %>
    <%= turbo_frame_tag first_basic_note_turbo_id, class: "new-note-turbo-frame" do %>
      <%= link_to "New note", new_article_basic_note_path(@article), class: "font-semibold" %>
    <% end %>
  <% end %>

  <% @basic_notes&.each do |basic_note| %>
    <% @basic_note = basic_note %>
    <%= render template: "basic_notes/show" %>
  <% end %>

</div>
