<div class="flex flex-col sm:flex-row">
  <div id="article-area" class="sm:w-8/12">
    <%= @article.content %>

    <%= link_to "Edit", edit_article_path(@article, title: @article.title_slug), class: "font-semibold" %>
  </div>
  <div id="notes-area" class="sm:w-4/12 flex flex-col">
    <div id="article-notes">
      <% @basic_notes&.each do |basic_note| %>
        <%= turbo_frame_tag turbo_name_for_basic_note(basic_note), src: article_basic_note_path(@article, basic_note) %>
      <% end %>
    </div>
    <%= turbo_frame_tag turbo_frame_for_new_basic_note, src: new_article_basic_note_path(@article) %>
  </div>
</div>
