<div class="flex h-96 items-center">
  <div class="mx-auto text-center">

    <div data-controller="study-cards">

      <div class="mb-8">
          <%= link_to "Back to article", article_path(@article, title: @article.title),
                      class: "cursor-pointer text-blue-500 hover:text-blue-600 font-semibold" %>
      </div>

      <% @basic_notes.each do |basic_note| %>
        <div data-controller="basic-note">
          <div id="note-at-ordinal-position-<%=basic_note.ordinal_position %>" class="w-full cursor-pointer py-3 px-2
                      border border-blue-400 bg-blue-50
                      font-semibold text-center
                      studiable-note"
              data-basic-note-target="note"
              hidden>
            <div>
              <span class="whitespace-pre-wrap"><%= basic_note.front %></span>
            </div>
            <div class="border-t border-blue-400 mt-2 pt-2"
                  data-basic-note-target="back"
                  hidden>
              <span class="whitespace-pre-wrap"><%= basic_note.back %></span>
            </div>
          </div>
        </div>
      <% end %>

      <div class="m-auto w-max flex flex-row mt-4">
        <span data-study-cards-target="studyNextCard"
                class="mr-4 cursor-pointer text-blue-500 hover:text-blue-600 font-semibold"
                hidden>Next card</span>
        <span data-study-cards-target="startStudyWithFirstCard"
              class="mr-4 cursor-pointer text-blue-500 hover:text-blue-600 font-semibold">First card</span>
        <span data-study-cards-target="studyRandomCard"
              class="cursor-pointer text-blue-500 hover:text-blue-600 font-semibold">Random card</span>
        
      </div>
    </div>

  </div>
</div>