<div class="flex h-96 items-center">
  <div class="mx-auto text-center">

    <div data-controller="study-cards">

      <div>
        <%= link_to "Back to article", back_to_article_path(@article),
                    class: "cursor-pointer text-blue-500 hover:text-blue-600 font-semibold" %>
      </div>

      <div class="my-8">
        <% @basic_notes&.each do |basic_note| %>
          <%= render template: "basic_notes/show", locals: { basic_note: basic_note } %>
        <% end %>
      </div>

      <div class="m-auto w-max flex flex-row">
        <span data-study-cards-target="studyPreviousCard"
                class="mr-4 cursor-pointer text-blue-500 hover:text-blue-600 font-semibold"
                hidden>Previous card</span>
        <span data-study-cards-target="startStudyWithFirstCard"
              class="mr-4 cursor-pointer text-blue-500 hover:text-blue-600 font-semibold">First card</span>
        <span data-study-cards-target="startRandomOrderStudy"
              class="cursor-pointer text-blue-500 hover:text-blue-600 font-semibold">Random order</span>
        <span data-study-cards-target="studyNextCard"
                class="cursor-pointer text-blue-500 hover:text-blue-600 font-semibold"
                hidden>Next card</span>
      </div>
    </div>

  </div>
</div>
