<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>
<div class="d-flex flex-column h-100 justify-content-end" data-controller="study-cards">
  <div class="flex-grow-1 d-flex flex-column justify-content-center mx-auto text-center">
    <div class="mx-auto">
      <% @notes&.each do |note| %>
        <% @note = note %>
        <div class="studiable-note mx-auto" hidden>
          <%= render partial: "articles/note/show_with_edit_link" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="bg-light p-4">
    <div class="d-flex justify-content-center">
      <div class="btn-group" role="toolbar" aria-label="Action buttons">
        <button type="button"
                data-study-cards-target="studyPreviousCard"
                class="btn btn-primary" hidden tabindex="0">
          Previous card
        </button>
        <button type="button" data-study-cards-target="startStudyWithFirstCard" class="btn btn-primary" tabindex="0">
          First card
        </button>
        <button type="button" data-study-cards-target="startRandomOrderStudy" class="btn btn-primary" tabindex="0">
          Random order
        </button>
        <button type="button" data-study-cards-target="studyNextCard" class="btn btn-primary" hidden tabindex="0">
          Next card
        </button>
      </div>
    </div>
  </div>
</div>