<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="mx-auto text-center">

  <div data-controller="study-cards">

    <div class="mt-16">
      <% if @article %>
        <%= link_to "Back to article", back_to_article_path(@article), class: "" %>
      <% elsif @book %>
        <%= link_to "Back to book", book_articles_path(@book), class: "" %>
      <% end %>
    </div>

    <% css_class_for_div_wrapping_studiable_notes = "w-96 mx-auto #{logged_in? ? "mt-6 mb-2" : "my-6"}" %>
    <div class="<%= css_class_for_div_wrapping_studiable_notes %>">
      <% @basic_notes&.each do |basic_note| %>
        <% @basic_note = basic_note %>
        <div class="studiable-note max-w-2-3 mx-auto" hidden>
          <%= render partial: "study_cards/basic_note" %>
        </div>
      <% end %>
    </div>

    <div class="m-auto w-max flex flex-row">
      <span data-study-cards-target="studyPreviousCard" class="action mr-4" hidden tabindex="0">
        Previous card
      </span>
      <span data-study-cards-target="startStudyWithFirstCard" class="action cursor-pointer mr-4" tabindex="0">
        First card
      </span>
      <span data-study-cards-target="startRandomOrderStudy" class="action cursor-pointer" tabindex="0">
        Random order
      </span>
      <span data-study-cards-target="studyNextCard" class="action cursor-pointer" hidden tabindex="0">
        Next card
      </span>
    </div>
  </div>

</div>
