<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%# TODO: See if can abstract the errors because this is duplicated from basic notes %>

<% if @note&.errors&.any? %>
<div class="p-2 mt-2">
  <h4>
    <%= pluralize(@note.errors.count, "validation error") %> occurred:
  </h4>
  <ul class="list-group">
    <% @note.errors.full_messages.each do |message| %>
      <li class="list-group-item">
        <%= message %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
