<h1 class="text-4xl font-bold mb-4">
  My books
</h1>

<div>
  <% @books.each do |book| %>
    <%= link_to book.title, book_path(book, book.title_slug), class: "text-blue-500 hover:text-blue-600" %>
    <br>
  <% end %>
</div>

<div class="my-4">
  <%= link_to "New book", new_book_path %>
</div>

<div>
  <%= link_to "Download Anki deck (all books)", user_download_anki_deck_path(current_user), data: { turbo: "false" } %>
</div>
