<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%= turbo_frame_tag Note.new_ordinal_position_zero_note_turbo_id, class: "new-note-turbo-frame" do %>
  <div class="flex flex-row justify-around <%= logged_in? ? "" : "visibility-hidden" %>">
    <%= link_to "New basic note", new_article_basic_note_path(@article), class: "action" %>
    <%= link_to "New cloze note", new_article_cloze_note_path(@article), class: "action" %>
  </div>
<% end %>
