<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="reorderable-note-unit" data-controller="notes-reordering--position-added-reorderable-unit">
  <div data-controller="notes-reordering--note-dropzone">

    <div data-notes-reordering--note-dropzone-target="dropzone" class="note-droppable-area">
      <%= render partial: "articles/note/show_with_edit_link" %>
    </div>

    <div>
      <%= render partial: "articles/note/new_next_note_sibling_after_note", locals: { previous_sibling: @note } %>
    </div>
  </div>
</div>
