<%= form_with(model: @domain, url:) do |form| %>
  <div class="mb-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <%= form.submit class: "cursor-pointer font-semibold" %>
<% end %>
