<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<h2 class="mb-4">Domains</h2>

<% @domains.each do |domain| %>
  <div><%= link_to domain.title, domain_path(domain) %></div>
<% end %>

<div class="my-4">
  <%= link_to "New domain", new_domain_path, class: "action-link" %>
</div>
