<h1 class="text-4xl font-bold mb-4">
  Root Domains
</h1>

<% @domains.each do |domain| %>
  <div>
    <%= link_to domain.title, domain_path(domain), class: "text-blue-500 hover:text-blue-600" %>
  </div>
<% end %>
