<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%= form_with(model: @book, url:) do |form| %>
  <div class="my-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <%= form.submit class: "action" %>
<% end %>
