<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<h2 class="mb-4">Books</h2>

<div class="mt-4 pb-4 border-b-2">
  <h3 class="mb-2">Tree</h2>
  <% @root_books.each do |book| %>
    <% @book_node = book %>
    <% @tree_depth = 0 %>
    <%= render "book_link_tree_node" %>
  <% end %>
</div>

<div class="mt-4">
  <h3 class="mb-2">All</h2>

  <% @books.each do |book| %>
    <div><%= link_to book.title, book_articles_path(book) %></div>
  <% end %>
  <div class="my-4"><%= link_to "New book", new_book_path, class: "action-link" %></div>
</div>
