<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<h1 id="books-index-heading">Books</h1>

<div class="my-2">
  <%= link_to "New book", new_book_path, class: "action" %>
</div>

<div class="flex flex-row sm-flex-col">
  <div class="pr-4 sm-pr-0 border-black-r sm-border-black-r-none" id="alphabetical-books-index">
    <h3 class="mb-2">Alphabetical</h2>

    <% @books.each do |book| %>
      <div>
        <%= link_to book.title, book_articles_path(book) %>
        <% if book.public %>
          <%= render partial: "layouts/heroicons/lock_open", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="ml-4 sm-ml-0 mt-0 sm-mt-4" id="tree-books-index">
    <h3 class="mb-2">Tree</h2>
    <% @root_books.each do |book| %>
      <% @book_node = book %>
      <% @tree_depth = 0 %>
      <%= render "book_link_tree_node" %>
    <% end %>
  </div>
</div>
