<h1 class="text-4xl font-bold">
  Manage articles
</h1>

<div class="my-4">
  <% @articles.each do |article| %>
    <% next if article.system %>
    <%= link_to "Manage #{article.title}",
        manage_article_path(article, title: article.title_slug),
        class: "text-blue-500 hover:text-blue-600"
    %>
    <br>
  <% end %>
</div>
