<% content_for :page_specific_links do %>
  <% if logged_in? %>
    <%= link_to "Manage book", manage_book_path(@book), class: "text-blue-500 hover:text-blue-600 font-semibold mr-4" %>
  <% end %>
<% end %>

<h1 class="text-4xl font-bold">
  <%= @book.title %>
</h1>

<div class="mt-4">
  <% @articles.each do |article| %>
    <%= link_to article.title, article_path(article), class: "text-blue-500 hover:text-blue-600" %>
    <br>
  <% end %>
</div>

<div class="my-4">
  <%= link_to "New article", new_book_article_path(@book) %>
</div>
