<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div data-controller="basic-note-flippable">
  <div data-basic-note-flippable-target="flippableNote"
        class="border-blue-400 bg-blue-50 dark:bg-inherit cursor-pointer py-3 px-2 border font-medium text-center">

    <div class="bg-blue-50 dark:bg-inherit">
      <span class="whitespace-pre-wrap break-words"><%= @basic_note.front %></span>
    </div>

    <div data-basic-note-flippable-target="flippableNoteBack"
          class="bg-blue-50 dark:bg-inherit border-t border-blue-400 mt-2 pt-2" hidden>
      <span class="whitespace-pre-wrap break-words bg-inherit"><%= @basic_note.back %></span>
    </div>

  </div>
</div>
