<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="card border border-black rounded-0" data-controller="basic-note-flippable">
  <div data-basic-note-flippable-target="flippableNote"
        class="cursor-pointer p-2 border-black text-center" tabindex="0">

    <div class="">
      <span class="whitespace-pre-wrap break-words"><%= @basic_note.front %></span>
    </div>

    <div data-basic-note-flippable-target="flippableNoteBack" class="mt-2 pt-2 border-top border-black" hidden>
      <span class="whitespace-pre-wrap break-words"><%= @basic_note.back %></span>
    </div>

  </div>
</div>
