<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% if @basic_note.errors.any? %>
  <div class="p-2 mb-4 border border-red-400 bg-red-50 text-red-900 font-semibold">
    <div class="flex justify-center align-middle">
      <span><%= pluralize(@basic_note.errors.count, "validation error") %> occurred:</span>
    </div>
    <ul>
      <% @basic_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
