<div data-controller="basic-note-flippable">
  <div data-basic-note-flippable-target="flippableNote"
        class="w-full cursor-pointer py-3 px-2 border border-blue-400 bg-blue-50 font-semibold text-center">

    <div>
      <span class="whitespace-pre-wrap"><%= @basic_note.front %></span>
    </div>

    <div data-basic-note-flippable-target="flippableNoteBack" class="border-t border-blue-400 mt-2 pt-2" hidden>
      <span class="whitespace-pre-wrap"><%= @basic_note.back %></span>
    </div>

  </div>
</div>
