<%= turbo_frame_tag turbo_id_for_new_basic_note(sibling: @previous_sibling), class: "new-note-turbo-frame" do %>
  <div data-controller="new-basic-note" data-new-basic-note-target="newBasicNoteFormContainer">
    <%= render "form", url: article_basic_notes_path(@article) %>
  </div>
<% end %>
