@tailwind base;
@tailwind components;
@tailwind utilities;

@import "actiontext.css";

@layer components {
  .trix-content a {
    @apply text-blue-500;
  }

  .trix-content a:hover {
    @apply text-blue-600; 
  }
}

.min-h-8 {
  min-height: 2rem;
}

@media (min-width: 640px) {
  .sm\:scrollable-notes {
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: scroll;
    position: sticky;
    top: 32px;
  }
}
