<div>
Controller test
<h1>Hello <%= @hello %></h1>
Stimulus test
<p data-controller="hello">Stimulus test</p>
Turbo test
<turbo-frame id="turbo-test">
<a href="/"><%= @random %></a>
</turbo-frame>
</div>
