<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<div class="sticky-bottom bottom-0 bg-light px-4 py-3">
  <%= yield :action_bar_content %>
</div>
