<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<nav data-controller="breadcrumbs-nav" data-breadcrumbs-nav-target="breadcrumbs" class="py-2 sticky-top z-2 bg-white container" aria-label="breadcrumb">
    <%= yield :breadcrumbs_nav_content %>
</nav>
