<nav class="flex items-center justify-between p-2">
  <div class="flex pl-4 pt-2">
    <%= yield :top_left_links %>
  </div>

  <div class="text-right pr-4 pt-2">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path, data: { "turbo-method": :delete }, class: "text-blue-500 hover:text-blue-600 font-semibold" %>
    <% else %>
      <% if current_page?(login_path) %>
        <%= link_to "Home", root_path, class: "text-blue-500 hover:text-blue-600 font-semibold" %>
      <% else %>
        <%= link_to "Login", login_path, class: "text-blue-500 hover:text-blue-600 font-semibold" %>
      <% end %>
    <% end %>
  </div>
</nav>
