<nav class="py-2">
  <div class="flex justify-end">
    <% if !current_page?(root_path) %>
      <%= link_to "Home", root_path, class: "text-blue-500 hover:text-blue-600 font-semibold mr-4" %>
    <% end %>
    <% if logged_in? %>
      <%= link_to "My articles", root_path, class: "text-blue-500 hover:text-blue-600 font-semibold mr-4" %>
      <%= link_to "Logout", logout_path, data: { "turbo-method": :delete }, class: "text-blue-500 hover:text-blue-600 font-semibold" %>
    <% elsif !current_page?(login_path) %>
      <%= link_to "Login", login_path, class: "text-blue-500 hover:text-blue-600 font-semibold" %>
    <% end %>
  </div>
</nav>
